// helpers
@import './helpers/globals';

//components
@import './components/layout';
@import './components/form';
@import './components/buttons';
@import './components/text';

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden !important;
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

div,
span,
p,
label,
input,
select,
section,
footer,
header,
nav,
ul,
li,
button,
tr,
td,
th {
	font-family: 'DM Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}

.page-wrapper {
	height: 100%;
	background-color: $base-color;
}

#root {
	overflow-x: hidden;
}

.main-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: auto;
	height: 100vh;
	background-color: $base-color;
	padding: 60px 240px;
	.content {
		position: relative;
		width: 100%;
		height: 100%;
		max-width: 960px;
	}
}

.spinner {
	position: absolute;
	top: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	left: 50%;
}
