.custom-button {
	width: 182px;
	height: 48px;
	padding: 12px 30px;
	color: white;
	background: $base-color-blue;
	border: 1px solid #d8e3f5;
	border-radius: 10px;
	transition: all 0.5s;
	font-weight: 500;
	cursor: pointer;

	&:hover {
		color: white;
		background: $base-color-blue-hover;
		border: 1px solid #d8e3f5;
		transition: all 0.5s;
	}
	&:focus {
		color: white;
		background: $base-color-blue-hover;
		border: 1px solid #d8e3f5;
		outline: none !important;
	}
}

.custom-button-2 {
	width: 182px;
	height: 48px;
	padding: 12px 30px;
	color: $base-color-blue;
	background: white;
	border: 1px solid #d8e3f5;
	border-radius: 10px;
	transition: all 0.5s;
	font-weight: 500;
	cursor: pointer;

	&:hover {
		color: $base-color-blue;
		background: #f0f5fe;
		border: 1px solid #d8e3f5;
		transition: all 0.5s;
	}
	&:focus {
		color: $base-color-blue;
		background: #f0f5fe;
		border: 1px solid #d8e3f5;
		outline: none !important;
	}
}

.add-item-btn {
	color: $base-color-blue;
	background: transparent;
	border: none;
	transition: all 0.5s;
	outline: none !important;
	padding: 0 !important;
	position: relative;
	bottom: 10px;
	cursor: pointer;

	&:hover {
		color: $base-color-blue-hover;
		background: transparent;
		border: none;
		transition: all 0.5s;
	}
}

.back-btn {
	background: transparent;
	border: none;
	cursor: pointer;
	position: relative;
	top: 65px;
	right: 75px;

	&:hover {
		background: transparent;
		border: none;
		transition: all 0.5s;
	}

	.back-icon {
		width: 35px;
	}
}
